* {
    box-sizing: border-box; 
    padding:0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    width:100vw;
    flex-flow: row wrap;
}

.image-sidebar {
    background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-width: 40vw;
}

.logo-bg {
    background-color: black;
    position: absolute;
    width: 100%;
    top: 30%;
    height:20%;
    opacity: 50%;
    display:flex;
    gap: 20px;
}

/* .logo-bg p {
    color: white;
    font-size: 70px;
} */

.logo, .logo-text {
    color:white;
    position:relative;
    height: 50%;
    top: 30%;
    left: 30%;
}

.logo-text {
    font-size: 3rem;
    top:40%;
}

.logo {

}

.right-content {
    display:flex;
    flex-direction: column;
    width: 60vw;
    flex-wrap: nowrap;
    justify-content: center;
}

.top-row, .form, .bottom-row {
    flex: 1 1 33%;
    padding: 80px;
}

.top-row {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 60px;
}

.form-top-row, .form-middle-row, .form-bottom-row {
   display: flex;
   gap: 100px;
   flex-wrap: wrap;
   margin-bottom: 20px;
}

.form {
    padding: 40px 80px;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 200px;
    /* height: 40px; */
    font-size: 25px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

.bottom-row {
    padding-top: 40px;
}

.top-row, .bottom-row {
    background-color: rgb(247, 246, 246);
}

.bottom-row button {
    border-radius: 10px;
    padding: 20px 80px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    background-color: #596D48;    
    margin-bottom: 25px;
    
}

.bottom-row p {
    font-size: 25px;

  
}

.bottom-row a {
    text-decoration: none;
    color:#596D48;
}